<!doctype="html">
<head>
  <title>Bird Watchers Club</title>
  <link rel="stylesheet" type="text/css" href="css/base.css">
  {{!-- import font --}}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="header"><h1><a class="home-link" href="/">The Busy Birder</a></h1></div>
  <div class="app-container">
    {{{body}}}
  </div>
</body>
