<div class="card-title">
  <h3>Welcome!</h3>
  <img class="center-img" src="img/bird.png">
</div>
<a class="btn" href="/settings"><div>Settings</div></a>
<a class="btn" href="/birds"><div>List of Birds</div></a>