<div class="card-title">
  <h3>Welcome!</h3>
  <img class="center-img" src="http://localhost:3000/img/bird.png">
</div>
<a class="btn" href="http://localhost:3000/settings"><div>Settings</div></a>
<a class="btn" href="http://localhost:3000/birds"><div>List of Birds</div></a>