<h3>Settings</h3>
<form method="POST" action="/settings">
  <p>Only show birds that have been seen at least this many times:</p>
  <input type="number" name="minVal" placeholder="{{minVal}}">
  <br>
  <button type="submit">Submit</button>
</form>
<a class="btn" href="http://localhost:3000/birds"><div>List of Birds</div></a>
