body {
  margin: 0;
  font-family: 'Open Sans' sans-serif;
  background-color: #eee;
}
.header {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  background: #009688;
  height: 80px;
  position: relative;
  box-shadow: 3px 3px 10px #888888;
}
.header h1 {
  margin-left: 100px;
  bottom: 0;
  position: absolute;
}

.home-link{
  text-decoration: none;
  color: #fff;
}

h1, h3 {
  text-align: center;
}

h3{
  font-size: 1.5em;
  color: #26A69A;
}

.app-container{
  box-shadow: 3px 3px 10px #888888;
  margin-top: 20px;
  /*border-radius: 10px;*/
  background-color: #F8F8FF;
  width: 75%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px;
}

.center-img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  margin-bottom: 20px;
}

.btn{
  display: inline;
  text-decoration: none;
}
.btn:hover{
  padding-top: 11px;
  padding-bottom: 11px;
  text-decoration: none;
}

button {
  margin-top: 1.2em;
  font-size: 1em;
  cursor: pointer;
}

.btn div, button{
  border: 0;
  padding: 10px 10px;
  border-radius: 3px;
  display: inline-flex;
  color: white;
  background: #009688;
}

.btn div:hover, button:hover{
  padding-top: -3px;
  box-shadow: 1px 1px 10px #888888;
}

.count {
  color: #9575CD;
}

input {
  padding: 8px 40px;
  font: 1em 'Open Sans';
}

form {
  margin-bottom: 30px;
}
